@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.drawer {
    float: left;
    /* overflow-x: auto; */
    /* overflow-y: scroll; */
    top: 0;
    bottom: 0;
}

.mainContent {
    width: 75%;
    float: left;
    margin-left: 20%;
    margin-top: 60px;
}

.notOpen {
    transform: rotate(0deg);
    transition: transform 1s linear;
}

.turnIcon {
    transform: rotate(90deg);
    transition: transform 1s linear;
}

.subMenu {
    transition: 1s ease-out;
    display: none;
}

.subMenu .open{
    transition: 1s ease-in;
    background-color: grey;
    display: block;
}

.cardGroup1 {
    margin: 50px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;    
}

.cardGroup2 {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid #000;
    background-color: #c4c4c4;
    margin: 40px;
    height: 640px;
    justify-content: center;
    align-items: center;
}

.cardGroup2 p {
    margin-left: 42%;
}

.cardGroup3 {
    display: grid;
    grid-template-rows: 1fr;
    margin: 40px;
    margin-bottom: 60px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    text-transform: uppercase;
    margin: 0;

    height: 60px;
}

.footer p {
    margin-top: 60px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
}